@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  font-size: 1.2rem;
}

.medal-container {
  display: block;
  position: relative;
  margin-left: 5px;
}

.pentagon {
  position: relative;
  z-index: -1;
  height: 1px;
  width: 8px;
  box-sizing: content-box;
  border-width: 0 0 5px;
  border-style: solid;
  border-color: rgb(255, 56, 92);
  margin-bottom: 5px;
}
.pentagon::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  top: 6px;
  left: 0;
  border-width: 4px 4px 4px;
  border-style: solid;
  border-color: rgb(255, 56, 92) transparent transparent;
}

.circle {
  position: absolute;
  z-index: -1;
  width: 6px;
  height: 6px;
  background: rgb(255, 56, 92);
  border-radius: 100%;
  left: 1px;
}
